# -------------------------------
# Operating System files
# -------------------------------

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.nfs*
*.tar

# -------------------------------
# IDE / Editor files
# -------------------------------

.idea/
.PyCharm/
.Web\ Storm/
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
*.slnx

*.swp
*.tmp

# -------------------------------
# Logs and temporary files
# -------------------------------

*.log
*.bak
*.old
*.cache


# -------------------------------
# Python specific
# -------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
.venv-12/

# -------------------------------
# Node / JavaScript
# -------------------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
# package-lock.json


# -------------------------------
# Java / JVM
# -------------------------------

*.class
*.jar
*.war
*.ear
*.iml
target/

# -------------------------------
# Large binary files
# -------------------------------

*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.mp4
*.mp3
*.mov
*.avi
*.pdf
*.out
*.o
*.obj
*.so
*.dylib

# -------------------------------
# Environment / Config files
# -------------------------------

.env
*.env

docker-compose.override.yml

# -------------------------------
# Project-specific folders
# -------------------------------

# Android asset folders
Configurations and Scripts/Android CMD Tools/platforms/android-34/data/res/

# Django static/vendor JS files
Pycharm/Python Framework/Django/Main/main_static/admin/js/vendor/

# Script files
General Programming Skills/Git/


terraform.tfvars
*.tfvars
.terraform/
terraform.tfstate.*'
terraform.tfstate
terraform.tfstate.backup
**/.terragrunt-cache/
**/.terraform/
*.tfstate
*.tfstate.backup
terraform.locl.hcl
